In [1]:
import pandas as pd

In [2]:
X_full =pd.read_csv("Train.csv",index_col='date_time',parse_dates=True)
X_test_full =pd.read_csv("Test.csv",index_col='date_time',parse_dates=True)

In [3]:
print(X_full.shape)
print(X_test_full.shape)

(33750, 14)
(14454, 13)

In [4]:
print(X_full.shape)
X_full.head()

X_test=X_test_full.copy()

(33750, 14)

In [5]:
print(X_test_full.shape)
X_test_full.head()

(14454, 13)

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
date_time,,,,,,,,,,,,,
2017-05-18 00:00:00,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain
2017-05-18 00:00:00,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist
2017-05-18 00:00:00,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle
2017-05-18 01:00:00,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain
2017-05-18 01:00:00,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist

In [6]:
y=X_full.traffic_volume
X_full.drop(["traffic_volume"],axis=1,inplace=True)

In [7]:
X_full.shape

(33750, 13)

In [8]:
X_test.shape

(14454, 13)

In [9]:

#X=X_full.select_dtypes(exclude=['object'])
#X=X_full[["temperature"]]#,"clouds_all"]]#,"snow_p_h","rain_p_h"]]
#X_test=X_test_full.select_dtypes(exclude=['object'])
#X_test=X_test_full[["temperature"]]#,"clouds_all"]]#,"snow_p_h","rain_p_h"]]
#print(X.shape)
#print(X_test.shape)

In [10]:
X=X_full.copy()
X.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
date_time,,,,,,,,,,,,,
02-10-2012 9.00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds
02-10-2012 10.00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds
02-10-2012 11.00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds
02-10-2012 12.00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds
02-10-2012 13.00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds

In [11]:
X.shape

(33750, 13)

In [12]:
from sklearn.model_selection import train_test_split as TTS
X_train,X_valid,y_train,y_valid=TTS(X,y,train_size=0.8,test_size=0.2,random_state=7)

In [13]:
X_train.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
date_time,,,,,,,,,,,,,
27-03-2014 6.00,None,126,86,2,270,5,5,276.700,0.25,0.0,90,Rain,light rain
08-07-2015 3.00,None,32,64,2,141,7,7,285.480,0.00,0.0,1,Clear,sky is clear
19-07-2016 2.00,None,232,93,2,320,2,2,297.888,0.00,0.0,0,Clear,Sky is Clear
21-11-2013 6.00,None,231,61,7,320,4,4,276.110,0.00,0.0,90,Mist,mist
07-05-2016 14.00,None,69,75,1,259,1,1,292.970,0.00,0.0,75,Clouds,broken clouds

In [14]:
X_train.shape

(27000, 13)

In [15]:
X_valid.shape

(6750, 13)

In [16]:
X_test.shape

(14454, 13)

## One-hot encoding

In [17]:
object_cols=[col for col in X_train.columns if X_train[col].dtype=='object']
oh_cols=[col for col in object_cols if X_train[col].nunique()<15]
label_cols=set(object_cols)-set(oh_cols)
oh_cols

['is_holiday', 'weather_type']

In [18]:
ob_nu=list(map(lambda col:X_train[col].nunique(),object_cols))
d=dict(zip(object_cols,ob_nu))
sorted(d.items(),key=lambda x:x[1])

[('weather_type', 11), ('is_holiday', 12), ('weather_description', 37)]

In [19]:
X_train['weather_description']

date_time
27-03-2014 6.00               light rain
08-07-2015 3.00             sky is clear
19-07-2016 2.00             Sky is Clear
21-11-2013 6.00                     mist
07-05-2016 14.00           broken clouds
21-11-2013 9.00                     mist
28-03-2013 18.00            sky is clear
18-01-2014 14.00           broken clouds
05-01-2017 21.00              light snow
11-01-2016 3.00                     mist
12-01-2014 20.00              light rain
12-03-2014 5.00               few clouds
16-05-2013 18.00           broken clouds
06-11-2012 14.00         overcast clouds
14-01-2013 7.00          overcast clouds
24-11-2012 11.00         overcast clouds
20-12-2015 2.00             sky is clear
25-10-2016 1.00            broken clouds
06-05-2013 15.00           broken clouds
24-01-2016 17.00                    haze
15-11-2013 6.00                     mist
16-01-2013 8.00               few clouds
03-08-2016 10.00              few clouds
17-03-2013 16.00            sky is clear
25-03-2016 23.00                 drizzle
13-08-2013 23.00           broken clouds
11-08-2013 9.00             Sky is Clear
21-05-2016 5.00                     mist
11-11-2013 19.00           broken clouds
16-07-2014 8.00               few clouds
                            ...
17-11-2012 4.00             sky is clear
23-04-2013 17.00                    mist
18-04-2014 21.00           broken clouds
26-05-2013 17.00         overcast clouds
30-10-2012 7.00         scattered clouds
15-05-2013 19.00            sky is clear
30-12-2016 14.00         overcast clouds
12-04-2017 7.00               light rain
17-08-2016 9.00             Sky is Clear
08-06-2016 9.00               few clouds
03-07-2015 11.00            sky is clear
14-08-2016 23.00            Sky is Clear
22-02-2017 11.00                    mist
24-02-2017 13.00              light snow
19-08-2013 0.00             Sky is Clear
09-12-2016 20.00              light snow
22-08-2016 14.00            sky is clear
30-10-2016 4.00             Sky is Clear
11-02-2013 13.00                    mist
26-07-2013 18.00         overcast clouds
03-04-2014 8.00          overcast clouds
19-05-2016 14.00           broken clouds
11-11-2012 6.00     heavy intensity rain
22-11-2015 2.00         scattered clouds
15-10-2016 14.00         overcast clouds
19-11-2016 8.00               light snow
02-01-2013 0.00             sky is clear
25-04-2014 20.00              few clouds
05-11-2012 18.00            sky is clear
17-12-2013 4.00            broken clouds
Name: weather_description, Length: 27000, dtype: object

In [20]:
#from sklearn.preprocessing import LabelEncoder

#labenc=LabelEncoder()


#X_train['weather_description']=labenc.fit_transform(X_train['weather_description'])
#X_valid['weather_description']=labenc.transform(X_valid.loc['weather_description'])

In [21]:
print(X_train.shape)
print(X_valid.shape)
print(X_test.shape)

(27000, 13)
(6750, 13)
(14454, 13)

In [22]:
X_train.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
date_time,,,,,,,,,,,,,
27-03-2014 6.00,None,126,86,2,270,5,5,276.700,0.25,0.0,90,Rain,light rain
08-07-2015 3.00,None,32,64,2,141,7,7,285.480,0.00,0.0,1,Clear,sky is clear
19-07-2016 2.00,None,232,93,2,320,2,2,297.888,0.00,0.0,0,Clear,Sky is Clear
21-11-2013 6.00,None,231,61,7,320,4,4,276.110,0.00,0.0,90,Mist,mist
07-05-2016 14.00,None,69,75,1,259,1,1,292.970,0.00,0.0,75,Clouds,broken clouds

In [23]:
from sklearn.preprocessing import OneHotEncoder

In [24]:
ohencoder=OneHotEncoder(handle_unknown='ignore',sparse=False)
OH_train_cols =pd.DataFrame(ohencoder.fit_transform(X_train[oh_cols]))
OH_valid_cols =pd.DataFrame(ohencoder.transform(X_valid[oh_cols]))
OH_test_cols=pd.DataFrame(ohencoder.transform(X_test[oh_cols]))

OH_train_cols.index=X_train.index
OH_valid_cols.index=X_valid.index
OH_test_cols.index=X_test.index

temp_train=X_train.drop(object_cols,axis=1)
temp_valid=X_valid.drop(object_cols,axis=1)
temp_test=X_test.drop(object_cols,axis=1)

X_train=pd.concat([temp_train,OH_train_cols],axis=1)
X_valid=pd.concat([temp_valid,OH_valid_cols],axis=1)
X_test=pd.concat([temp_test,OH_test_cols],axis=1)

In [25]:
X_train.shape

(27000, 33)

In [26]:
X_valid.shape

(6750, 33)

In [27]:
X_test.shape

(14454, 33)

In [28]:
print(X_train.shape)
missing_val_count_by_column = (X_train.isnull().sum())

print(missing_val_count_by_column)

(27000, 33)
air_pollution_index    0
humidity               0
wind_speed             0
wind_direction         0
visibility_in_miles    0
dew_point              0
temperature            0
rain_p_h               0
snow_p_h               0
clouds_all             0
0                      0
1                      0
2                      0
3                      0
4                      0
5                      0
6                      0
7                      0
8                      0
9                      0
10                     0
11                     0
12                     0
13                     0
14                     0
15                     0
16                     0
17                     0
18                     0
19                     0
20                     0
21                     0
22                     0
dtype: int64

In [29]:
from sklearn.ensemble import RandomForestRegressor as RFR
from sklearn.metrics import mean_absolute_error as MAE

def rand_forest(X_train,X_valid,y_train,y_valid,n):
    model=RFR(n_estimators=n,random_state=1)
    model.fit(X_train,y_train)
    preds=model.predict(X_valid)
    return (MAE(y_valid,preds))

In [30]:
from sklearn import linear_model
def linear_reg(X_train,X_valid,y_train,y_valid):
    regr=linear_model.LinearRegression()
    regr.fit(X_train,y_train)
    lpreds=regr.predict(X_valid)
    return MAE(y_valid,lpreds)

In [31]:
X=pd.concat([X_train,X_valid],axis=0)
X.head()

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,...,13,14,15,16,17,18,19,20,21,22
date_time,,,,,,,,,,,,,,,,,,,,,
27-03-2014 6.00,126,86,2,270,5,5,276.700,0.25,0.0,90,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
08-07-2015 3.00,32,64,2,141,7,7,285.480,0.00,0.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19-07-2016 2.00,232,93,2,320,2,2,297.888,0.00,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21-11-2013 6.00,231,61,7,320,4,4,276.110,0.00,0.0,90,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
07-05-2016 14.00,69,75,1,259,1,1,292.970,0.00,0.0,75,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
X_test.shape

(14454, 33)

In [33]:
X.shape

(33750, 33)

In [34]:
X_test.shape

(14454, 33)

In [35]:
#trials=[600,700,800]
#for n in trials:
#   print(n,":\t",rand_forest(X_train,X_valid,y_train,y_valid,n))

In [36]:
temp_model=RFR(n_estimators=300,random_state=1)
temp_model.fit(X_train,y_train)
preds_test=temp_model.predict(X_valid)
print(MAE(y_valid,preds_test))

1483.0422479012343

In [42]:
from xgboost import XGBRegressor
my_model = XGBRegressor(n_estimators=1000, learning_rate=0.09, n_jobs=4)
my_model.fit(X_train, y_train, 
             early_stopping_rounds=5, 
             eval_set=[(X_valid, y_valid)], 
             verbose=False)
xpreds=my_model.predict(X_valid)
print(MAE(y_valid,xpreds))

C:\Users\Saranga\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[21:15:52] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
1645.2542232892072

In [43]:
final_model=XGBRegressor(n_estimators=1108, learning_rate=0.09,n_jobs=4)
final_model.fit(X,y)
preds_test=final_model.predict(X_test)
preds_test

C:\Users\Saranga\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\Saranga\Anaconda3\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[21:16:08] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

array([3182.3074, 3263.085 , 3274.9084, ..., 3830.579 , 2900.5256,
       3149.1248], dtype=float32)

In [44]:
output=pd.DataFrame({'date_time':X_test.index,'traffic_volume':preds_test})
output.to_csv("submissionlast2.csv",index=False)
output

                date_time  traffic_volume
0     2017-05-18 00:00:00     3182.307373
1     2017-05-18 00:00:00     3263.084961
2     2017-05-18 00:00:00     3274.908447
3     2017-05-18 01:00:00     2826.189941
4     2017-05-18 01:00:00     3422.412842
5     2017-05-18 02:00:00     2935.785156
6     2017-05-18 02:00:00     3210.430908
7     2017-05-18 02:00:00     4010.946777
8     2017-05-18 03:00:00     3327.235840
9     2017-05-18 03:00:00     3042.055420
10    2017-05-18 03:00:00     3289.256104
11    2017-05-18 04:00:00     3162.432373
12    2017-05-18 04:00:00     3175.975342
13    2017-05-18 04:00:00     3525.903320
14    2017-05-18 05:00:00     3456.633301
15    2017-05-18 05:00:00     3290.782959
16    2017-05-18 05:00:00     3597.141846
17    2017-05-18 06:00:00     3296.132080
18    2017-05-18 06:00:00     3284.520752
19    2017-05-18 07:00:00     3807.790527
20    2017-05-18 07:00:00     3703.221680
21    2017-05-18 08:00:00     3647.989014
22    2017-05-18 08:00:00     3406.972412
23    2017-05-18 08:00:00     3512.040283
24    2017-05-18 09:00:00     3572.966309
25    2017-05-18 09:00:00     3395.236572
26    2017-05-18 09:00:00     3209.637695
27    2017-05-18 10:00:00     3352.300537
28    2017-05-18 10:00:00     3363.340088
29    2017-05-18 11:00:00     3657.923828
...                   ...             ...
14424 2018-09-29 20:00:00     2914.265869
14425 2018-09-29 21:00:00     3348.324951
14426 2018-09-29 22:00:00     3040.496094
14427 2018-09-29 23:00:00     3372.213379
14428 2018-09-30 00:00:00     3522.588623
14429 2018-09-30 01:00:00     3465.138916
14430 2018-09-30 02:00:00     3262.618896
14431 2018-09-30 03:00:00     3377.539551
14432 2018-09-30 04:00:00     3111.671387
14433 2018-09-30 05:00:00     3326.193359
14434 2018-09-30 06:00:00     3287.837891
14435 2018-09-30 07:00:00     3486.087646
14436 2018-09-30 08:00:00     4601.212402
14437 2018-09-30 09:00:00     3831.937988
14438 2018-09-30 10:00:00     4035.314697
14439 2018-09-30 11:00:00     4009.380371
14440 2018-09-30 12:00:00     3199.169678
14441 2018-09-30 13:00:00     4395.791016
14442 2018-09-30 14:00:00     3415.736816
14443 2018-09-30 14:00:00     3341.586670
14444 2018-09-30 15:00:00     1572.128662
14445 2018-09-30 15:00:00     3601.950684
14446 2018-09-30 16:00:00     3211.052734
14447 2018-09-30 17:00:00     3196.425049
14448 2018-09-30 18:00:00     3234.282471
14449 2018-09-30 19:00:00     3666.262451
14450 2018-09-30 20:00:00     3431.139160
14451 2018-09-30 21:00:00     3830.579102
14452 2018-09-30 22:00:00     2900.525635
14453 2018-09-30 23:00:00     3149.124756

[14454 rows x 2 columns]