In [217]:
import pandas as pd

In [218]:
X_full =pd.read_csv("Train.csv",index_col='date_time',parse_dates=True)
X_test_full =pd.read_csv("Test.csv",index_col='date_time',parse_dates=True)

In [219]:
X_full.shape

(33750, 14)

In [220]:
print(X_full.shape)
X_full.head()

(33750, 14)

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description,traffic_volume
date_time,,,,,,,,,,,,,,
02-10-2012 9.00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds,5545
02-10-2012 10.00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds,4516
02-10-2012 11.00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds,4767
02-10-2012 12.00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds,5026
02-10-2012 13.00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds,4918

In [221]:
print(X_test_full.shape)
X_test_full.head()

(14454, 13)

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
date_time,,,,,,,,,,,,,
2017-05-18 00:00:00,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain
2017-05-18 00:00:00,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist
2017-05-18 00:00:00,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle
2017-05-18 01:00:00,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain
2017-05-18 01:00:00,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist

In [222]:
y=X_full.traffic_volume
X_full.drop(["traffic_volume"],axis=1,inplace=True)

In [223]:

#X=X_full.select_dtypes(exclude=['object'])
#X=X_full[["temperature"]]#,"clouds_all"]]#,"snow_p_h","rain_p_h"]]
#X_test=X_test_full.select_dtypes(exclude=['object'])
#X_test=X_test_full[["temperature"]]#,"clouds_all"]]#,"snow_p_h","rain_p_h"]]
#print(X.shape)
#print(X_test.shape)

In [224]:
X=X_full.copy()
X.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
date_time,,,,,,,,,,,,,
02-10-2012 9.00,None,121,89,2,329,1,1,288.28,0.0,0.0,40,Clouds,scattered clouds
02-10-2012 10.00,None,178,67,3,330,1,1,289.36,0.0,0.0,75,Clouds,broken clouds
02-10-2012 11.00,None,113,66,3,329,2,2,289.58,0.0,0.0,90,Clouds,overcast clouds
02-10-2012 12.00,None,20,66,3,329,5,5,290.13,0.0,0.0,90,Clouds,overcast clouds
02-10-2012 13.00,None,281,65,3,329,7,7,291.14,0.0,0.0,75,Clouds,broken clouds

In [225]:
from sklearn.model_selection import train_test_split as TTS
X_train,X_valid,y_train,y_valid=TTS(X,y,train_size=0.8,test_size=0.2,random_state=7)

In [226]:
X_train.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
date_time,,,,,,,,,,,,,
27-03-2014 6.00,None,126,86,2,270,5,5,276.700,0.25,0.0,90,Rain,light rain
08-07-2015 3.00,None,32,64,2,141,7,7,285.480,0.00,0.0,1,Clear,sky is clear
19-07-2016 2.00,None,232,93,2,320,2,2,297.888,0.00,0.0,0,Clear,Sky is Clear
21-11-2013 6.00,None,231,61,7,320,4,4,276.110,0.00,0.0,90,Mist,mist
07-05-2016 14.00,None,69,75,1,259,1,1,292.970,0.00,0.0,75,Clouds,broken clouds

In [227]:
X_test=X_test_full.copy()
X_test.head()

,is_holiday,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,weather_type,weather_description
date_time,,,,,,,,,,,,,
2017-05-18 00:00:00,None,73,63,1,27,4,4,285.15,0.0,0,90,Rain,moderate rain
2017-05-18 00:00:00,None,251,63,1,27,4,4,285.15,0.0,0,90,Mist,mist
2017-05-18 00:00:00,None,75,56,1,0,1,1,285.15,0.0,0,90,Drizzle,light intensity drizzle
2017-05-18 01:00:00,None,98,56,1,351,2,2,284.79,0.0,0,90,Rain,heavy intensity rain
2017-05-18 01:00:00,None,283,56,1,351,1,1,284.79,0.0,0,90,Mist,mist

## One-hot encoding

In [228]:
object_cols=[col for col in X_train.columns if X_train[col].dtype=='object']# and  X_train[col].nunique()<15]
object_cols

['is_holiday', 'weather_type', 'weather_description']

In [229]:
ob_nu=list(map(lambda col:X_train[col].nunique(),object_cols))
d=dict(zip(object_cols,ob_nu))
sorted(d.items(),key=lambda x:x[1])

[('weather_type', 11), ('is_holiday', 12), ('weather_description', 37)]

In [230]:
for col in object_cols:
    print(col,"\t",X_train[col].nunique())

is_holiday 	 12
weather_type 	 11
weather_description 	 37

In [231]:
from sklearn.preprocessing import OneHotEncoder

In [232]:
ohencoder=OneHotEncoder(handle_unknown='ignore',sparse=False)
OH_train_cols =pd.DataFrame(ohencoder.fit_transform(X_train[object_cols]))
OH_valid_cols =pd.DataFrame(ohencoder.transform(X_valid[object_cols]))
OH_test_cols=pd.DataFrame(ohencoder.transform(X_test[object_cols]))

OH_train_cols.index=X_train.index
OH_valid_cols.index=X_valid.index
OH_test_cols.index=X_test.index

temp_train=X_train.drop(object_cols,axis=1)
temp_valid=X_valid.drop(object_cols,axis=1)
temp_test=X_test.drop(object_cols,axis=1)


X_train=pd.concat([temp_train,OH_train_cols],axis=1)
X_valid=pd.concat([temp_valid,OH_valid_cols],axis=1)
X_test=pd.concat([temp_test,OH_test_cols],axis=1)

In [233]:
X_train.shape

(27000, 70)

In [234]:
X_valid.shape

(6750, 70)

In [235]:
print(X_train.shape)
missing_val_count_by_column = (X_train.isnull().sum())

print(missing_val_count_by_column)

(27000, 70)
air_pollution_index    0
humidity               0
wind_speed             0
wind_direction         0
visibility_in_miles    0
dew_point              0
temperature            0
rain_p_h               0
snow_p_h               0
clouds_all             0
0                      0
1                      0
2                      0
3                      0
4                      0
5                      0
6                      0
7                      0
8                      0
9                      0
10                     0
11                     0
12                     0
13                     0
14                     0
15                     0
16                     0
17                     0
18                     0
19                     0
                      ..
30                     0
31                     0
32                     0
33                     0
34                     0
35                     0
36                     0
37                     0
38                     0
39                     0
40                     0
41                     0
42                     0
43                     0
44                     0
45                     0
46                     0
47                     0
48                     0
49                     0
50                     0
51                     0
52                     0
53                     0
54                     0
55                     0
56                     0
57                     0
58                     0
59                     0
Length: 70, dtype: int64

In [236]:
from sklearn.ensemble import RandomForestRegressor as RFR
from sklearn.metrics import mean_absolute_error as MAE

def rand_forest(X_train,X_valid,y_train,y_valid,n):
    model=RFR(n_estimators=n,random_state=1)
    model.fit(X_train,y_train)
    preds=model.predict(X_valid)
    return (MAE(y_valid,preds))

In [237]:
X_test.head()

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,...,50,51,52,53,54,55,56,57,58,59
date_time,,,,,,,,,,,,,,,,,,,,,
2017-05-18 00:00:00,73,63,1,27,4,4,285.15,0.0,0,90,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-18 00:00:00,251,63,1,27,4,4,285.15,0.0,0,90,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-18 00:00:00,75,56,1,0,1,1,285.15,0.0,0,90,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-18 01:00:00,98,56,1,351,2,2,284.79,0.0,0,90,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-18 01:00:00,283,56,1,351,1,1,284.79,0.0,0,90,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [238]:
X_valid.shape

(6750, 70)

In [239]:
from sklearn import linear_model
def linear_reg(X_train,X_valid,y_train,y_valid):
    regr=linear_model.LinearRegression()
    regr.fit(X_train,y_train)
    lpreds=regr.predict(X_valid)
    return MAE(y_valid,lpreds)

In [240]:


print(rand_forest(X_train,X_valid,y_train,y_valid,300))

1485.069138765432

In [248]:
temp_model=RFR(n_estimators=300,random_state=1)
temp_model.fit(X_train,y_train)
preds_test=temp_model.predict(X_valid)
print(MAE(y_valid,preds_test))

1485.069138765432

In [245]:
X=pd.concat([X_train,X_valid],axis=0)
X.head()

,air_pollution_index,humidity,wind_speed,wind_direction,visibility_in_miles,dew_point,temperature,rain_p_h,snow_p_h,clouds_all,...,50,51,52,53,54,55,56,57,58,59
date_time,,,,,,,,,,,,,,,,,,,,,
27-03-2014 6.00,126,86,2,270,5,5,276.700,0.25,0.0,90,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
08-07-2015 3.00,32,64,2,141,7,7,285.480,0.00,0.0,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19-07-2016 2.00,232,93,2,320,2,2,297.888,0.00,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21-11-2013 6.00,231,61,7,320,4,4,276.110,0.00,0.0,90,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
07-05-2016 14.00,69,75,1,259,1,1,292.970,0.00,0.0,75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [246]:
X_test.shape

(14454, 70)

In [249]:
final_model=RFR(n_estimators=300,random_state=1)
final_model.fit(X,y)
preds_test=final_model.predict(X_test)
output=pd.DataFrame({'date_time':X_test.index,'traffic_volume':preds_test})
output.to_csv("submission4.csv",index=False)
output

                date_time  traffic_volume
0     2017-05-18 00:00:00     3122.250000
1     2017-05-18 00:00:00     3172.963333
2     2017-05-18 00:00:00     3295.246667
3     2017-05-18 01:00:00     3312.340000
4     2017-05-18 01:00:00     3072.150000
5     2017-05-18 02:00:00     2814.350000
6     2017-05-18 02:00:00     3354.216667
7     2017-05-18 02:00:00     3712.286667
8     2017-05-18 03:00:00     3389.726667
9     2017-05-18 03:00:00     2921.260000
10    2017-05-18 03:00:00     2751.386667
11    2017-05-18 04:00:00     3577.086667
12    2017-05-18 04:00:00     2807.370000
13    2017-05-18 04:00:00     3317.496667
14    2017-05-18 05:00:00     3133.010000
15    2017-05-18 05:00:00     3439.356667
16    2017-05-18 05:00:00     3248.046667
17    2017-05-18 06:00:00     3315.926667
18    2017-05-18 06:00:00     3285.483333
19    2017-05-18 07:00:00     3837.170000
20    2017-05-18 07:00:00     3384.063333
21    2017-05-18 08:00:00     3471.140000
22    2017-05-18 08:00:00     2923.786667
23    2017-05-18 08:00:00     3651.846667
24    2017-05-18 09:00:00     4128.570000
25    2017-05-18 09:00:00     3749.293333
26    2017-05-18 09:00:00     2872.336667
27    2017-05-18 10:00:00     3215.763333
28    2017-05-18 10:00:00     3017.090000
29    2017-05-18 11:00:00     3713.866667
...                   ...             ...
14424 2018-09-29 20:00:00     2592.886667
14425 2018-09-29 21:00:00     3462.593333
14426 2018-09-29 22:00:00     3809.370000
14427 2018-09-29 23:00:00     3376.783333
14428 2018-09-30 00:00:00     3371.330000
14429 2018-09-30 01:00:00     3409.470000
14430 2018-09-30 02:00:00     2902.913333
14431 2018-09-30 03:00:00     3164.753333
14432 2018-09-30 04:00:00     3271.756667
14433 2018-09-30 05:00:00     3565.653333
14434 2018-09-30 06:00:00     3278.933333
14435 2018-09-30 07:00:00     2975.900000
14436 2018-09-30 08:00:00     3162.536667
14437 2018-09-30 09:00:00     3302.903333
14438 2018-09-30 10:00:00     2801.466667
14439 2018-09-30 11:00:00     3087.526667
14440 2018-09-30 12:00:00     3103.946667
14441 2018-09-30 13:00:00     3318.520000
14442 2018-09-30 14:00:00     3117.003333
14443 2018-09-30 14:00:00     3746.496667
14444 2018-09-30 15:00:00     2955.913333
14445 2018-09-30 15:00:00     3613.656667
14446 2018-09-30 16:00:00     3218.033333
14447 2018-09-30 17:00:00     3120.043333
14448 2018-09-30 18:00:00     2987.693333
14449 2018-09-30 19:00:00     3478.846667
14450 2018-09-30 20:00:00     3139.613333
14451 2018-09-30 21:00:00     3884.086667
14452 2018-09-30 22:00:00     2554.823333
14453 2018-09-30 23:00:00     3688.633333

[14454 rows x 2 columns]